<!DOCTYPE html>
<html>
<head>
    <title>Evian</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport">


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.8/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.8/css/ripples.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/public/css/responsive.css">
    <link rel="stylesheet" href="/public/css/content.css">
    <link rel="stylesheet" href="/public/css/Material.css">
</head>
<body>
<section id="left-content">
  <img src="/public/logo.png" class="logo" style="margin-top: 30px;">
  <div class="group-tap">
  <a href="#" class="tap"><i class="material-icons">history</i></a> <!-- 만났던 사람들 히스토리 -->
  <a href="#" class="tap"><i class="material-icons md-36">people</i></a> <!-- 친구추가된 친구들 -->
  <a href="#" class="tap"><i class="material-icons">turned_in</i></a> <!-- 관심사 바꾸기 -->
  </div>
</section>

<section id="right-content">
  <header id="right-header">
    <span class="intersted-in">interested in #PORN</span>
    <span class="right">
    <img src="https://help.github.com/assets/images/help/profile/identicon.png">
    <span>imkimchi</span></span>
    </header>
    <div class="wrapper">
      <div id="messages"></div>
      <footer>
        <div class="container" style="margin-left: 0px; padding-left: 5px;">
          <form id="main">
                <i class="material-icons md-36">add</i>
                <input type="text" autocomplete="off" id="content" placeholder="Say Hi" ><!-- Send를 Stop으로 바꾼다 -->
            </form>
        </div>
      </footer>
    </div>  
</section>

<script src="/socket.io/socket.io.js">
    </script> 
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="/public/js/chat.js"></script>
</body>
</html>