#page-header-left {
	position: fixed;
	height: 50px;
	width: 30%;
	background-color:  #3F51B5;
	z-index: 1000;
	float: left;
}

#page-header-right {
	position: fixed;
	height: 50px;
	width: 70%;
	background-color: #2196F3;
	z-index: 1000;
	float:right;
}
